MYSQL_ROOT_PASSWORD=secure123
MYSQL_DATABASE=mydb
DATABASE_URL="mysql://root:${MYSQL_ROOT_PASSWORD}@localhost:3306/${MYSQL_DATABASE}"

PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
TOKEN_EXPIRE_TIME=15m

LOG_LEVEL=2